ilw-modal {
  div, p {
    margin-bottom: 1rem;
  }
  h2 {
    font-family: var(--ilw-modal--heading--font);
    font-size: var(--ilw-modal--heading--font-size);
    color: var(--ilw-modal--heading-color);
  }
}
