/* Styleable variables are in the base layer so they can be overridden easily */
@layer base {
    :host {
        --ilw-modal--small: 35%;
        --ilw-modal--medium: 50%;
        --ilw-modal--large: 1200px;
        --ilw-modal--image-height: 350px;
        --ilw-modal--text-color: var(--ilw-color--text);
        --ilw-modal--heading-color: var(---ilw-color--heading);
        --ilw-modal--heading--font: var(--il-font-montserrat);
        --ilw-modal--heading--font-size: 2.25rem;
        --ilw-modal--border-top: 8px solid var(--ilw-color--control-accent);
        --ilw-modal--background: var(--ilw-color--background);
        --ilw-modal--close-btn--color: var(--ilw-color--control-text);
        --ilw-modal--close-btn--background-color: rgba(255, 255, 255, 0.7);
        --ilw-modal--close-btn--hover-color: var(--ilw-color--control-accent);
    }
}

:host {
    display: block;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-start;
    padding-top: 20vh;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

:host([open]) .backdrop {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
}

.modal {
    background: var(--ilw-modal--background);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: var(--ilw-modal--medium);
    width: 100%;
    position: relative;
    border-top: var(--ilw-modal--border-top);
    display: flex;
    flex-direction: column;
}

.modal.small {
    max-width: var(--ilw-modal--small);
    .modal-image ::slotted(*) {
        height: 200px;
    }
}
.modal.medium {
    max-width: var(--ilw-modal--medium);
    .modal-image ::slotted(*) {
        height: 300px;
    }
}
.modal.large {
    max-width: var(--ilw-modal--large);
    .modal-image ::slotted(*) {
        height: 400px;
    }
}

@media (max-width: 600px) {
    .modal.small,
    .modal.medium,
    .modal.large {
        max-width: 100%;
        margin: 0.5rem;
    }
}
.modal[aria-hidden="true"] {
    display: none;
}
.modal-image {
    position: relative;
    order: 1;
    width: 100%;
    height: auto;
}

.modal-image ::slotted(*) {
    width: 100%;
    height: var(--ilw-modal--image-height);
    object-fit: cover;
    display: block;
}

.modal-header {
    display: flex;
    order: 2;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.modal-header.with-image {
    margin-top: 0;
    justify-content: flex-start;
}

.modal-header h2 {
    margin: 0;
    padding: 0;
    font: 1.5rem var(--ilw-modal--heading--font);
    color: var(--ilw-color--heading);
}
.modal.center {
    .modal-header {
        justify-content: center;
        text-align: center;
    }
    .modal-body {
        text-align: center;
    }
}

.modal-body {
    margin-bottom: 2rem;
    font: 1.125rem var(--il-font-sans);
    color: var(--ilw-modal--text-color);
    padding: 0 1.5rem;
    order: 3;
}
.hidden {
    display: none;
}

.close-btn {
    color: var(--ilw-modal--close-btn--color);
    background-color: var(--ilw-modal--close-btn--background-color);
    border: none;
    border-radius: 50%;
    padding: 0;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 10;
}

.close-btn svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.close-btn:hover {
    color: var(--ilw-modal--close-btn--hover-color);
}

.close-btn:focus {
    color: var(--ilw-color--focus--text);
    background-color: var(--ilw-color--focus--background);
    outline: solid var(--ilw-color--focus--outline) 1px;
}